<h3>Add a new items here </h3>

<%=form_for @item, :url => items_path(@item), :html => { :multipart => true } do |f| %>
	<%= csrf_meta_tags %>	
		<%=f.label :name %>
		<%=f.text_field :name %>

		<%=f.label :details %>
		<%=f.text_field :details %>

		<%=f.label :price %>
		<%=f.text_field :price %>

		 <%= f.file_field :avatar %>

		<%=f.submit %>
		<%end%>