<!DOCTYPE html>
<html>
<head>
  <title>Class4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h6><%= flash[:notice] if flash[:notice] %></h6>
<h6><%= flash[:alert] if flash[:alert] %></h6>
<%= yield %>

</body>
</html>
