<center><div id = 'signup'>
	<h2><u>Log in</u></h2>
		
		<%=form_tag sessions_path do%>
		
		<%=label_tag :email %>
		<%=text_field_tag :email %>

		<%=label_tag :password %>
		<%=password_field_tag :password %>
		<%=submit_tag "Log in" %>
			<%end%>

</div></center>

<%= link_to 'Sign-up', new_user_path %>